.cart-show-container {
    min-width: 980px;
    background-color: #FFFFFF !important;
    max-width: 1400px;
    margin: 0 auto;
    width: 100% !important;
    color: #222;
    padding-left: 12px !important;
    padding-right: 12px !important;
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
    padding-top: 24px !important;
}

.cart-header {
    padding-bottom: 12px;
    display: block;
}

.rounded-banner {
        background-color: #D7E6F5 !important;
            border-radius: 12px !important;
                overflow: hidden !important;
                    padding: 12px !important;
                        margin-bottom: 24px !important;
                            width: 100% !important;
                                align-items: center !important;
                                display: flex !important;
    font-family: "Graphik Webfont", -apple-system, "Helvetica Neue", "Droid Sans", Arial, sans-serif;
        color: #222;

}