.modal-background {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 10;
}

.modal-child {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.header-background {
    background-color: #F8EBE6;

    .header-div {
        padding-left: 12px !important;
    }

    .header-name {
            font-family: "Guardian-EgypTT", Charter, "Charter Bitstream", Cambria, "Noto Serif Light", "Droid Serif", Georgia, serif;
            font-weight: 300;
            letter-spacing: 0.5px;
            font-size: 24px;
            line-height: 28px;
            text-align: center !important;
            margin-bottom: 18px !important;
            color: #222;
    }

}
