.header-background {
    background-color: #F8EBE6;

    .header-div {
        padding-left: 12px !important;
    }

    .header-name {
            font-family: "Guardian-EgypTT", Charter, "Charter Bitstream", Cambria, "Noto Serif Light", "Droid Serif", Georgia, serif;
            font-weight: 300;
            letter-spacing: 0.5px;
            font-size: 24px;
            line-height: 28px;
            text-align: center !important;
            margin-bottom: 18px !important;
            color: #222;
    }

}
