.iconbar {
    background-color: #F8EBE6;


    h2 {
        font-family: "Guardian-EgypTT", Charter, "Charter Bitstream", Cambria, "Noto Serif Light", "Droid Serif", Georgia, serif;
            font-weight: 300;
            letter-spacing: 0.35px;
            font-size: 20px;
            line-height: 32px;
            color: #222222 !important;
            text-align: center !important;
            padding-top: 18px !important;
    }
}